* {
  background-color: rgb(227, 162, 41);
}

form {
  padding: 20px 40px 20px;
}

button {
  margin: 2px;
  border: 5px;
  padding: 10px 20px;
  border: 3px solid rgba(27, 31, 35, .15);
  background-color: rgb(77, 183, 41);
  border-radius: 12px;
  border-color: rgb(69, 103, 15);
  color: rgb(48, 7, 7);
  font-size: 18px;
  font-weight: 600;
}

button:hover {
  background-color: rgb(204, 178, 50);
}

input, output {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
}

/* Remove arrows/spinners from Chrome/Edge/Opera/Safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows/spinners from Firefox */
input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
  
}